body {
  background:url("payment.jpg");
  background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h3, a {
    text-align: center;
    color: blue;
    font-size: 25px;
    font-weight: bolder;
    }
